<!DOCTYPE html>
 {% load static %}
<html lang="ko">
<head>
    <!--meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>question_list</title>
</head>
<body>

<div id="question_list">

    <h2>📂📂📂</h2>

    <!-- 질문 목록-->
    <table id="QList">

        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>답변수</th>
            <th>글쓴이</th>
        </tr>
        </thead>

        <tbody>
        {% if question_list %}
            {% for question in question_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td style="text-align: left"><a href="{% url 'pybo:detail' question.id %}">{{question.subject}}</a></td>
                <td>{{ question.answer_set.count }}</td>
                <td>{{ question.author.username }}</td>
            </tr>
            {% endfor %}
        {% else %}
        <p> 등록된 질문이 없습니다.</p>
        {% endif %}
        </tbody>

    </table>
    <!-- 질문 목록 끝-->


    <br>

    <!-- 페이징처리 시작 -->
    <ul class="paging">

        <!-- 이전페이지 -->
        <!-- 이전 페이지가 있다면 '이전' 링크가 활성화되지만, 반대로 이전 페이지가 없으면 '이전' 링크는 비활성화-->
        {% if question_list.has_previous %}
        <li class="page-link">
            <a href="?page={{ question_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-link">
            <a href="#">이전</a>
        </li>
        {% endif %}
        <!-- 이전페이지 끝 -->

        <!-- 주요속성 -->
        <!-- .page_range : 전체 페이지 번호-->
        <!-- .number : 현재 페이지 번호-->
        <!-- .previous_page_number : 이전 페이지 번호 -->
        <!-- .next_page_number : 다음 페이지 번호 -->

        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
            <!-- 현재페이지에서 -5한 수와 +5한 페이지를 포함한 사이에 있는 페이지만 출력 -->
            {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                <!-- if문이 없을 시에는 현재페이지만 출력 : endif 때문에 if문이 한번만 작동하는 것 같음 -->
                {% if page_number == question_list.number %}
                <li class="page-link">
                    <a href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-link">
                    <a href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 페이지리스트 끝-->

        <!-- 다음페이지 -->
        <!-- 다음 페이지가 있다면 '다음' 링크가 활성화되지만, 반대로 다음 페이지가 없으면 '다음' 링크는 비활성화-->
        {% if question_list.has_next %}
        <li class="page-link">
            <a href="?page={{ question_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-link">
            <a href="#">다음</a>
        </li>
        {% endif %}
        <!-- 다음페이지 끝-->

    </ul>
    <!-- 페이징처리 끝 -->


    <br>

    <!--질문 등록 버튼-->
    <button type="button" onClick="location.href='{% url 'pybo:question_create' %}'">REGISTER</button>
    <!--메인화면 이동 버튼-->
    <button type="button" onClick="location.href='{% url 'main:index' %}'">MAINPAGE</button>

</div>

</body>
</html>