<!DOCTYPE html>
 {% load static %}
<html lang="ko">
<head>
    <!--meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>mainPage</title>
</head>
<body>

    <div id="mainLogo">
        <img id="logo" src="{% static 'img/logoB.png' %}">
    </div>


    <!-- 네비게이션바 -->
    <nav id="mainNav">
        <!-- 로그인 -->
        {% if user.is_authenticated %}
            <button type="button" onclick="location.href='{% url 'common:logout' %}' ">LOGOUT</button>
            <button type="button" onclick="location.href='{% url 'record:index' %}'">{{ user.username }}님의 기록</button>
            <button type="button" onclick="location.href='{% url 'pybo:index' %}' ">Q&A</button>
        {% else %}
            <button type="button" onclick="location.href='{% url 'common:login' %}' ">LOGIN</button>
        {% endif %}

        <!--&lt;!&ndash; Q&A 게시판 &ndash;&gt;
        <button type="button" onclick="location.href='{% url 'pybo:index' %}' ">Q&A</button>-->
    </nav>

</body>
</html>